.features {
  background-color: #FAFAFA;
  padding: 63px 0 180px;
  &__title{
    @include font(36px, 43px, 600);
    text-align: center;
    margin-bottom: 63px;
  }
  %__item{
    text-align: center;
    position: relative;
  }
  &__content{
    width: 293px;
    height: 198px;
    background-color: #FFFFFF;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    padding: 33px 32px 25px;
    position: absolute;
    transform: translate(10%, -50%);

    &-title{
      @include font(18px, 22px, bolt);
      text-align: center;
      color: #101010;
    }
    &-description{
      margin-bottom: 5px;
      margin-top: 20px;
      @include font(12px, 150%, normal);
      text-align: center;
    }
    &-link{
      @include font(12px, 150%, bolt);
      text-align: center;
      color: #ED4C5C;

    }
  }
}