.header {
  position: absolute;
  top: 50px;
  width: 100%;
  color: #FFFFFF;
  &__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
  }
  &__title{
    @include font(18px, 22px, normal);
    text-transform: uppercase;
    color: #ffffff;
  }
  &__menu{
    @include font(14px, 17px, normal);
    display: flex;
    list-style-type: none;
    column-gap: 30px;
  }
  &__link{

  }

  &__form {
    display: flex;
    align-items: center;
  }

  &__button{
    background-color: transparent;
    color: #FFFFFF;
    width: 100px;
    height: 40px;
    text-transform: uppercase;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 0 28px;
    margin-left: 29px;
    transition: .6s;
    &:hover{
      background-color: #FFFFFF;
      color: $pink;
      transition: .6s;
    }
  }
}

