.slider{
  padding: 140px 0 140px;
  background: #ED4C5C;
  color: #FFFFFF;
  &__title {
    @include font(36px, 43px, 600);
  }
  &__description{
    @include font(14px, 140%, normal);

    margin: 30px 0 42px;
  }
  &__icon{
    color: #ffffff;
    font-size: 35px;
    margin-right: 25px;
    text-decoration: none;
  }
}