*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: lato, sans-serif;
}
a{
  text-decoration: none;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

.col-3{
  width: 25%;
  padding: 0 15px;
}

.col-4{
  width: 33.3%;
  padding: 0 15px;
}

.col-6{
  width: 50%;
  padding: 0 15px;
}

@mixin font($fs, $lh, $fw) {
  font-size: $fs;
  line-height: $lh;
  font-weight: $fw;
}

$pink: #ED4C5C;

.container {
  width: 1200px;
  margin: 0 auto;
}

@import "header";
@import "hero";
@import "video";
@import "features";
@import "technology";
@import "slider";