.video{
  padding: 140px 0 140px;

  &__item{
    position: relative;
  }
  &__title{
    @include font(36px, 43px, 600);
  }
  &__description{
    @include font(14px, 140%, normal);
    margin: 30px 0 20px;
  }
  &__link{
    @include font(14px, 140%, normal);
    color: #ED4C5C;
  }
  &__play{
    width: 66px;
    height: 66px;
    background-color: #ED4C5C;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }


}